body{
    background-image: url(../image/74cc1c3bc024d0f45c6d4d7f767337c21797b9e1.jpg);
}

#top{
    background-color: rgb(179, 199, 186);
    padding: 10px;
    margin: 0%;
    position:fixed;
    top: 0%;
    z-index: 2;
    width: 100%;
}
#tpo ul{
    list-style: none;
    padding-left: 0;
}
#top ul li{
    display: inline-block;
}
#top ul li a{
    color: rgb(39, 60, 50);
    text-decoration: none;
    padding: 50px 50px;
    font-size: 20px;
}
#top ul li a:hover{
    color: blueviolet;
}